* {
    padding: 0 !important;
    margin: 0 !important;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none !important;
}
.color-black {
    color: black;
}
.color-black:hover {
    color: orange;
}